<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>API Web Care Pathway Execution</title>
</head>
<body>
    <!-- Include _menu.html 
    <th:block th:include="/_menu"></th:block>-->
 
    <h2>Results</h2> 
 
    <form name='f' th:object="${form}" method='POST'>
        <table>
            <tr>
                <td >
               		
<!--                     <select th:field="*{method}"> -->
<!--                          <option value=""> -- </option> -->
<!--                          <option th:each="method : ${methodNames}" -->
<!--                             th:value="${method.name.name}"  -->
<!--                             th:utext="${method.name.literal}"/> -->
<!--                   	</select>  -->
                </td>
            </tr>
        </table>
    </form>
 
</body>
 
</html>