<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>API Web Care Pathway Execution</title>
</head>
<body>
    <!-- Include _menu.html 
    <th:block th:include="/_menu"></th:block>-->
 
    <h2>Results</h2> 
 
    <form name='f' th:object="${form}" method='POST'>
        <table>
            <tr th:each="result : ${results}">
			    <td th:text="${result.key}"> FIELD:</td>
			    <td th:text="${result.value}"> VALUE:</td>
			</tr>
        </table>
    </form>
 
</body>
 
</html>